xml-resources/web-service-references/VaccineApp/wsdl/vaccineappwebservice.elasticbeanstalk.com/VaccineApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://muslumyusuf.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://muslumyusuf.com/" name="VaccineApp">
<types>
<xsd:schema>
<xsd:import namespace="http://muslumyusuf.com/" schemaLocation="http://vaccineappwebservice.elasticbeanstalk.com:80/VaccineApp?xsd=1"/>
</xsd:schema>
</types>
<message name="getComment">
<part name="parameters" element="tns:getComment"/>
</message>
<message name="getCommentResponse">
<part name="parameters" element="tns:getCommentResponse"/>
</message>
<message name="update_KKK">
<part name="parameters" element="tns:update_KKK"/>
</message>
<message name="update_KKKResponse">
<part name="parameters" element="tns:update_KKKResponse"/>
</message>
<message name="update_KPA">
<part name="parameters" element="tns:update_KPA"/>
</message>
<message name="update_KPAResponse">
<part name="parameters" element="tns:update_KPAResponse"/>
</message>
<message name="update_OPA">
<part name="parameters" element="tns:update_OPA"/>
</message>
<message name="update_OPAResponse">
<part name="parameters" element="tns:update_OPAResponse"/>
</message>
<message name="update_RVA">
<part name="parameters" element="tns:update_RVA"/>
</message>
<message name="update_RVAResponse">
<part name="parameters" element="tns:update_RVAResponse"/>
</message>
<message name="update_Vaccines">
<part name="parameters" element="tns:update_Vaccines"/>
</message>
<message name="update_VaccinesResponse">
<part name="parameters" element="tns:update_VaccinesResponse"/>
</message>
<message name="get_Completed_Vaccines">
<part name="parameters" element="tns:get_Completed_Vaccines"/>
</message>
<message name="get_Completed_VaccinesResponse">
<part name="parameters" element="tns:get_Completed_VaccinesResponse"/>
</message>
<message name="addComment">
<part name="parameters" element="tns:addComment"/>
</message>
<message name="addCommentResponse">
<part name="parameters" element="tns:addCommentResponse"/>
</message>
<message name="forgottenPassword">
<part name="parameters" element="tns:forgottenPassword"/>
</message>
<message name="forgottenPasswordResponse">
<part name="parameters" element="tns:forgottenPasswordResponse"/>
</message>
<message name="getBabies">
<part name="parameters" element="tns:getBabies"/>
</message>
<message name="getBabiesResponse">
<part name="parameters" element="tns:getBabiesResponse"/>
</message>
<message name="add_Baby">
<part name="parameters" element="tns:add_Baby"/>
</message>
<message name="add_BabyResponse">
<part name="parameters" element="tns:add_BabyResponse"/>
</message>
<message name="update_DaBT_IPA_HIB">
<part name="parameters" element="tns:update_DaBT_IPA_HIB"/>
</message>
<message name="update_DaBT_IPA_HIBResponse">
<part name="parameters" element="tns:update_DaBT_IPA_HIBResponse"/>
</message>
<message name="update_Hepatit_A">
<part name="parameters" element="tns:update_Hepatit_A"/>
</message>
<message name="update_Hepatit_AResponse">
<part name="parameters" element="tns:update_Hepatit_AResponse"/>
</message>
<message name="update_Hepatit_B">
<part name="parameters" element="tns:update_Hepatit_B"/>
</message>
<message name="update_Hepatit_BResponse">
<part name="parameters" element="tns:update_Hepatit_BResponse"/>
</message>
<message name="log_in">
<part name="parameters" element="tns:log_in"/>
</message>
<message name="log_inResponse">
<part name="parameters" element="tns:log_inResponse"/>
</message>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<portType name="VaccineApp">
<operation name="getComment">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/getCommentRequest" message="tns:getComment"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/getCommentResponse" message="tns:getCommentResponse"/>
</operation>
<operation name="update_KKK">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/update_KKKRequest" message="tns:update_KKK"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/update_KKKResponse" message="tns:update_KKKResponse"/>
</operation>
<operation name="update_KPA">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/update_KPARequest" message="tns:update_KPA"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/update_KPAResponse" message="tns:update_KPAResponse"/>
</operation>
<operation name="update_OPA">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/update_OPARequest" message="tns:update_OPA"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/update_OPAResponse" message="tns:update_OPAResponse"/>
</operation>
<operation name="update_RVA">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/update_RVARequest" message="tns:update_RVA"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/update_RVAResponse" message="tns:update_RVAResponse"/>
</operation>
<operation name="update_Vaccines">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/update_VaccinesRequest" message="tns:update_Vaccines"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/update_VaccinesResponse" message="tns:update_VaccinesResponse"/>
</operation>
<operation name="get_Completed_Vaccines">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/get_Completed_VaccinesRequest" message="tns:get_Completed_Vaccines"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/get_Completed_VaccinesResponse" message="tns:get_Completed_VaccinesResponse"/>
</operation>
<operation name="addComment">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/addCommentRequest" message="tns:addComment"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/addCommentResponse" message="tns:addCommentResponse"/>
</operation>
<operation name="forgottenPassword">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/forgottenPasswordRequest" message="tns:forgottenPassword"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/forgottenPasswordResponse" message="tns:forgottenPasswordResponse"/>
</operation>
<operation name="getBabies">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/getBabiesRequest" message="tns:getBabies"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/getBabiesResponse" message="tns:getBabiesResponse"/>
</operation>
<operation name="add_Baby">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/add_BabyRequest" message="tns:add_Baby"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/add_BabyResponse" message="tns:add_BabyResponse"/>
</operation>
<operation name="update_DaBT_IPA_HIB">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/update_DaBT_IPA_HIBRequest" message="tns:update_DaBT_IPA_HIB"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/update_DaBT_IPA_HIBResponse" message="tns:update_DaBT_IPA_HIBResponse"/>
</operation>
<operation name="update_Hepatit_A">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/update_Hepatit_ARequest" message="tns:update_Hepatit_A"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/update_Hepatit_AResponse" message="tns:update_Hepatit_AResponse"/>
</operation>
<operation name="update_Hepatit_B">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/update_Hepatit_BRequest" message="tns:update_Hepatit_B"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/update_Hepatit_BResponse" message="tns:update_Hepatit_BResponse"/>
</operation>
<operation name="log_in">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/log_inRequest" message="tns:log_in"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/log_inResponse" message="tns:log_inResponse"/>
</operation>
<operation name="register">
<input wsam:Action="http://muslumyusuf.com/VaccineApp/registerRequest" message="tns:register"/>
<output wsam:Action="http://muslumyusuf.com/VaccineApp/registerResponse" message="tns:registerResponse"/>
</operation>
</portType>
<binding name="VaccineAppPortBinding" type="tns:VaccineApp">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_KKK">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_KPA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_OPA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_RVA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_Vaccines">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_Completed_Vaccines">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="forgottenPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBabies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add_Baby">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_DaBT_IPA_HIB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_Hepatit_A">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_Hepatit_B">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="log_in">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VaccineApp">
<port name="VaccineAppPort" binding="tns:VaccineAppPortBinding">
<soap:address location="http://vaccineappwebservice.elasticbeanstalk.com:80/VaccineApp"/>
</port>
</service>
</definitions>